<h1>Meal Ordering</h1>

<div id="selectionControls">

    <div class="top-bar">
        <input type="date" id="mealDate">
    </div>

    <div class="quick-dates">
        <button id="todayBtn" class="quick-btn">Today</button>
        <button id="tomorrowBtn" class="quick-btn">Tomorrow</button>
    </div>

    <div class="meal-toggle">
        <button class="meal-btn" data-meal="Lunch">Lunch</button>
        <button class="meal-btn" data-meal="Dinner">Dinner</button>
    </div>

</div>

<h2 id="activeMealTitle" class="active-meal-title" style="display:none;"></h2>