@import "./variables.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-size: var(--font-size-base);
}

h1, h2, h3 {
  margin: 0 0 var(--spacing-md);
}

button {
  font-family: inherit;
}